body {
  background-color: white;
  color: black;
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 100px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  padding: 5px;
  outline-style: solid;
  outline-color: black;
  outline-width: medium;
}
.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}
